<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="5.0.0" targetFramework="net472" />
  <package id="MSTest.TestAdapter" version="2.2.7" targetFramework="net472" />
  <package id="MSTest.TestFramework" version="2.2.7" targetFramework="net472" />
  <package id="NSubstitute" version="5.0.0" targetFramework="net472" />
  <package id="NSubstitute.Analyzers.CSharp" version="1.0.16" targetFramework="net472" developmentDependency="true" />
  <package id="NUnit" version="3.13.3" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.3.0" targetFramework="net472" />
</packages>